openapi: 3.0.1
info:
  version: 0.1.0
  title: Meower Post Service API
  description: API for CRUD operations on user posts.

servers:
  - url: https://meower.com/{basePath}
    description: The production API server.
    variables:
      basePath:
        default: api/post/v1

security:
  - bearerAuth: []

paths:
  /:
    post:
      tags:
        - post
        - me
      summary: Create a new post.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPost'
      responses:
        '200':
          description: Post created.
          content: 
            application/json: 
              schema:
                $ref: '#/components/schemas/CreatePostResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /{author}/:
    get:
      tags:
        - post
        - user
        - me
      summary: Get posts list by author username.
      parameters:
        - name: author
          in: path
          required: true
          description: Username of the user or "me" for the current user.
          schema:
            type: string
        - name: pageToken
          in: query
          schema:
            type: string
            default: ""
          description: The token to get the next page of results.
        - name: maxPageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: The maximum number of items to return.
      responses:
        '200':
          description: User's posts list.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ListPostsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /{id}:
    get:
      tags:
        - post
        - user
        - me
      summary: Get a post with the given id.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the post.
          schema:
            type: string
      responses:
        '200':
          description: The post.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/GetPostResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
      required:
        - error

  schemas:
    Post:
      type: object
      properties:
        id:
          type: string
          description: The id of the post.
        text:
          type: string
          description: Text of the post.
        author:
          type: string
          description: Username of the author.
        updatedAt:
          type: string
          format: date-time
          description: Date and time of the post last update.
      required:
        - id
        - text
        - author
        - updatedAt
    NewPost:
      type: object
      properties:
        text:
          type: string
          description: Text of the post.
      required:
        - text
    CreatePostResponse:
      description: The created post id.
      type: object
      properties:
        id:
          type: string
          description: The id of the post.
    GetPostResponse:
      description: The post.
      allOf:
        - $ref: '#/components/schemas/Post'
    ListPostsResponse:
      description: The list of posts.
      type: object
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        nextPageToken:
          type: string
          description: The token to get the next page of results, ommitted or empty if there are no more results. You should expect the token to have a lifetime of at least an hour.
      required:
        - posts
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Description of the error.
      required:
        - error